.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.login {
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
}

.layout {
   display: flex;
   gap: 20px;
}

.content {
   width: 100%;
}
